<!doctype html>
<html lang="en">
  <head>
    <title>
        {% block title %}
        {% endblock %}
    </title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>
  <body>

      <nav class="navbar navbar-expand-md navbar-dark bg-primary sticky-top mb-4">
          <a class="navbar-brand" href="{% url 'dashboard' %}">Bookmarks</a>
          <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId" aria-controls="collapsibleNavId"
              aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
          <div class="collapse navbar-collapse" id="collapsibleNavId">

              {% if request.user.is_authenticated %}
              <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                  <li {% if section == 'dashboard' %} class="nav-item active" {% else %} class="nav-item"  {% endif %}>
                      <a class="nav-link" href="{% url 'dashboard' %}">Dashboard <span class="sr-only">(current)</span></a>
                  </li>

                  <li {% if section == 'images' %} class="nav-item active" {% else %} class="nav-item"  {% endif %}>
                      <a class="nav-link" href="#">Images</a>
                  </li>

                  <li {% if section == 'people' %} class="nav-item active" {% else %} class="nav-item" {% endif %}>
                    <a class="nav-link" href="#">People</a>
                </li>
              </ul>
              {% endif %}

              <span class="my-2 my-lg-0 text-white">
                {% if request.user.is_authenticated %}
                Hello {{ request.user.first_name }}
              </span>
                <div class="dropdown mx-4">
                  <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                     Settings
                  </button>
                  <div class="dropdown-menu">
                    <a class="dropdown-item" href="{% url 'logout' %}">logout</a>
                    <a class="dropdown-item" href="{% url 'password_reset' %}">Reset password</a>
                    <a class="dropdown-item" href="{% url 'edit' %}">edit profile</a>
                  </div>
                </div>
                {% endif %}
                
          </div>
      </nav>

      {% if messages %}

        {% for message in messages %}
        <div class="alert alert-primary alert-dismissible fade show" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            <span class="sr-only">Close</span>
          </button>
          {{ message|safe }}
        </div>
        {% endfor %}

      {% endif %}

      <div class="container content">
          {% block content %}
          {% endblock %}
      </div>

      <div class="container-fluid mb-0  bg-primary text-white">
          {% block footer %}
          {% endblock %}
      </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://use.fontawesome.com/3ced957014.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>