{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %} LOGIN {% endblock %}

{% block content %}

<div class="container" style="width: 60%;">
    <h1>LOGIN</h1>
    {% if form.errors %}
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            <span class="sr-only">Close</span>
        </button>
        Incorrect username or password
    </div>
    {% endif %}
    
    <hr>

    <form action="{% url 'login' %}" method="post" class="shadow p-3 mb-5 bg-white rounded">
        {{ form|crispy }}
        {% csrf_token %}
        <input type="hidden" name="next" value="{{ next }}">
        <p><input type="submit" value="LOGIN" class="btn btn-primary"></p>
    </form>

    <!-- Social logins -->
    <p>
        <a name="" id="" class="btn text-white" href="{% url 'social:begin' 'twitter' %}" role="button" style="background: rgb(0, 153, 255);">
            <i class="fa fa-twitter" aria-hidden="true"></i> 
            Login with twitter
        </a>
    </p>
    <p>
        <a name="" id="" class="btn text-white" href="{% url 'social:begin' 'google' %}" role="button" style="background-color: rgb(241, 15, 102);">
            <i class="fa fa-google-plus" aria-hidden="true"></i> 
            Login with google
        </a>
    </p>

    <p>
        <a name="" id="" class="btn btn-primary" href="{% url 'social:begin' 'facebook' %}" role="button">
            <i class="fa fa-facebook-square" aria-hidden="true"></i> 
            Login with facebook
        </a>
    </p>

    <p> <a href="{% url 'password_reset' %}"><i style="margin-right: 8px;">Forgotten password?  </i></a>
    Don't have an account? <a href="{% url 'register' %}"><i>sign up</i> </a>
    </p>
</div>

{% endblock %}
