{% extends 'base.html' %}}
{% block title %} Password changed {% endblock %}
{% block content %}
<h2> Password Changed </h2>
<hr>
<div class="alert alert-primary alert-dismissible fade show" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
        <span class="sr-only">Close</span>
    </button>
    You have successfully changed your password.
</div>
<p><a name="" id="" class="btn btn-primary" href="{% url 'login' %}" role="button"> Login </a></p>
{% endblock %}