{% extends 'base.html' %}
{% block title %} Password Reset {% endblock %}
{% block content %}
<h1>Password Set</h1>
<hr>
<p> Your password has been set.</p>
<div class="alert alert-success alert-dismissible fade show" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
        <span class="sr-only">Close</span>
    </button>
    Your password has been set!
</div>
<a name="" id="" class="btn btn-primary" href="{% url 'login' %}" role="button"> Login </a>
{% endblock %}