{% extends 'base.html' %}
{% block title %} Dashboard {% endblock %}
{% block content %}
<h1> Dashboard</h1>
<hr>
    {%  with total_image_created=request.user.images_created.count %}
<p> Welcome to Bookmarks</p>
    <p> You have booked {{ total_image_created }} image{{ total_image_created|pluralize }}</p>
    {% endwith %}

    <p> Drag the following button to your bookmark toolbar to bookmark images from
    other websites →
        <a href="javascript: {% include "bookmarklet_launcher.js" %}" class="btn btn-primary"> Bookmark it</a>
    </p>

<p>You can 
    <a href="{% url 'edit' %}">edit your profile</a>
     or 
    <a href="{% url 'password_change' %}">change your password</a>.
</p>
{% endblock %}